In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('jeju_data_ver1/201901-202003.csv')
data

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [4]:
# 날짜 타입 변경
data['REG_YYMM']=data['REG_YYMM'].astype('str')
# Null값 채우기
data = data.fillna('')

In [5]:
# Null값이 있는 시군구 열 삭제
data.drop(['CARD_CCG_NM','HOM_CCG_NM'], axis='columns', inplace=True)
# 'AGE', 'SEX_CTGO_CD', 'FLC' 컬럼 삭제 후 업종별 합계
data.drop(['AGE', 'SEX_CTGO_CD', 'FLC'], axis='columns', inplace=True)
data

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,CSTMR_CNT,AMT,CNT
0,201901,강원,건강보조식품 소매업,강원,4,311200,4
1,201901,강원,건강보조식품 소매업,강원,7,1374500,8
2,201901,강원,건강보조식품 소매업,강원,6,818700,6
3,201901,강원,건강보조식품 소매업,강원,4,1717000,5
4,201901,강원,건강보조식품 소매업,강원,3,1047300,3
...,...,...,...,...,...,...,...
24697787,202003,충북,휴양콘도 운영업,충북,3,43300,4
24697788,202003,충북,휴양콘도 운영업,충북,3,35000,3
24697789,202003,충북,휴양콘도 운영업,충북,4,188000,6
24697790,202003,충북,휴양콘도 운영업,충북,4,99000,6
24697791,202003,충북,휴양콘도 운영업,충북,3,194000,3

In [6]:
data1=data.groupby(['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','HOM_SIDO_NM']).sum().reset_index(drop=False)
# data1.to_csv('data_f.csv', encoding='utf-8-sig', index=False)
data1

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,CSTMR_CNT,AMT,CNT
0,201901,강원,건강보조식품 소매업,강원,1058,147831746,1105
1,201901,강원,건강보조식품 소매업,광주,5,127000,5
2,201901,강원,건강보조식품 소매업,대구,7,155000,7
3,201901,강원,건강보조식품 소매업,서울,5,151000,6
4,201901,강원,건강보조식품 소매업,전북,5,90000,5
...,...,...,...,...,...,...,...
106381,202003,충북,휴양콘도 운영업,경기,18,2170050,20
106382,202003,충북,휴양콘도 운영업,서울,37,6830430,82
106383,202003,충북,휴양콘도 운영업,세종,3,354000,3
106384,202003,충북,휴양콘도 운영업,인천,3,88250,5
106385,202003,충북,휴양콘도 운영업,충북,51,3137560,68

In [7]:
# 코로나 데이터 전처리
covid=pd.read_csv('jeju_data_ver1/covid_19a.csv', encoding='cp949').iloc[:,1:]
covid['year']=covid.확진년월.str.split('-').str[0]
covid['month']=covid.확진년월.str.split('-').str[1]
covid['REG_YYMM']=covid['year']+covid['month']
covid=covid.rename(columns={'지역':'CARD_SIDO_NM'})

In [8]:
# 월별 지역별 코로나 누적 및 신규 확진자
rcovid=covid.groupby(['REG_YYMM','CARD_SIDO_NM']).sum()['확진자_증가']
rrcovid=covid.groupby(['REG_YYMM','CARD_SIDO_NM']).last()['확진자']
rcovid=pd.DataFrame(rcovid).reset_index()
rrcovid=pd.DataFrame(rrcovid).reset_index()
rcovid=pd.merge(rrcovid, rcovid, on=['REG_YYMM','CARD_SIDO_NM'], how='left')
rcovid=rcovid.astype({'확진자': 'int','확진자_증가':'int'})
rcovid

   REG_YYMM CARD_SIDO_NM  확진자  확진자_증가
0    202001           강원    0       0
1    202001           경기    5       5
2    202001           경남    0       0
3    202001           경북    0       0
4    202001           광주    0       0
..      ...          ...  ...     ...
80   202005           전남   19       4
81   202005           전북   21       3
82   202005           제주   15       2
83   202005           충남  146       3
84   202005           충북   60      15

[85 rows x 4 columns]

In [9]:
# 전국확진자 데이터 생성
rcotmp=rcovid.copy()
rcotmp=rcotmp.groupby('REG_YYMM').sum()['확진자'].reset_index()
rcotmp=rcotmp.rename(columns={'확진자':'전국확진자'})
rcotmp

  REG_YYMM  전국확진자
0   202001     11
1   202002   3150
2   202003   9569
3   202004  10319
4   202005  10934

In [10]:
# 전국확진자_증가 데이터 생성
rcotmp1=rcovid.copy()
rcotmp['전국확진자_증가']=rcotmp1.groupby('REG_YYMM').sum()['확진자_증가'].reset_index()['확진자_증가']
rcotmp

  REG_YYMM  전국확진자  전국확진자_증가
0   202001     11        11
1   202002   3150      3139
2   202003   9569      6419
3   202004  10319       750
4   202005  10934       615

In [11]:
#생성된 코로나 데이터 하나로 병합 후 저장
rcovid=pd.merge(rcovid, rcotmp, on='REG_YYMM' , how='left')
rcovid.to_csv('jeju_data_ver1/covid_19b.csv', encoding='utf-8', index=False)
rcovid

   REG_YYMM CARD_SIDO_NM  확진자  확진자_증가  전국확진자  전국확진자_증가
0    202001           강원    0       0     11        11
1    202001           경기    5       5     11        11
2    202001           경남    0       0     11        11
3    202001           경북    0       0     11        11
4    202001           광주    0       0     11        11
..      ...          ...  ...     ...    ...       ...
80   202005           전남   19       4  10934       615
81   202005           전북   21       3  10934       615
82   202005           제주   15       2  10934       615
83   202005           충남  146       3  10934       615
84   202005           충북   60      15  10934       615

[85 rows x 6 columns]

In [13]:
# CARD_SIDO_NM의 코로나 데이터 merging
data2=pd.merge(data1, rcovid, on=['REG_YYMM','CARD_SIDO_NM'], how='left').drop(['전국확진자','전국확진자_증가'], axis='columns')
data2 = data2.fillna(0)
data2

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,CSTMR_CNT,AMT,CNT,확진자,확진자_증가
0,201901,강원,건강보조식품 소매업,강원,1058,147831746,1105,0.0,0.0
1,201901,강원,건강보조식품 소매업,광주,5,127000,5,0.0,0.0
2,201901,강원,건강보조식품 소매업,대구,7,155000,7,0.0,0.0
3,201901,강원,건강보조식품 소매업,서울,5,151000,6,0.0,0.0
4,201901,강원,건강보조식품 소매업,전북,5,90000,5,0.0,0.0
...,...,...,...,...,...,...,...,...,...
106381,202003,충북,휴양콘도 운영업,경기,18,2170050,20,44.0,34.0
106382,202003,충북,휴양콘도 운영업,서울,37,6830430,82,44.0,34.0
106383,202003,충북,휴양콘도 운영업,세종,3,354000,3,44.0,34.0
106384,202003,충북,휴양콘도 운영업,인천,3,88250,5,44.0,34.0
106385,202003,충북,휴양콘도 운영업,충북,51,3137560,68,44.0,34.0

In [14]:
# HOM_SIDO_NM의 코로나 데이터 머징 후 컬럼명 정리
data3 = pd.merge(data2, rcovid, left_on=['REG_YYMM','HOM_SIDO_NM'], right_on=['REG_YYMM','CARD_SIDO_NM'], how='left')
data3.drop(['CARD_SIDO_NM_y','확진자_x','확진자_y'], axis=1, inplace=True)
data3 = data3.rename(columns={'CARD_SIDO_NM_x':'CARD_SIDO_NM','확진자_증가_x':'확진자_증가_C','확진자_증가_y':'확진자_증가_H'})
data3 = data3.fillna(0)
data3

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,CSTMR_CNT,AMT,CNT,확진자_증가_C,확진자_증가_H,전국확진자,전국확진자_증가
0,201901,강원,건강보조식품 소매업,강원,1058,147831746,1105,0.0,0.0,0.0,0.0
1,201901,강원,건강보조식품 소매업,광주,5,127000,5,0.0,0.0,0.0,0.0
2,201901,강원,건강보조식품 소매업,대구,7,155000,7,0.0,0.0,0.0,0.0
3,201901,강원,건강보조식품 소매업,서울,5,151000,6,0.0,0.0,0.0,0.0
4,201901,강원,건강보조식품 소매업,전북,5,90000,5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
106381,202003,충북,휴양콘도 운영업,경기,18,2170050,20,34.0,394.0,9569.0,6419.0
106382,202003,충북,휴양콘도 운영업,서울,37,6830430,82,34.0,373.0,9569.0,6419.0
106383,202003,충북,휴양콘도 운영업,세종,3,354000,3,34.0,45.0,9569.0,6419.0
106384,202003,충북,휴양콘도 운영업,인천,3,88250,5,34.0,58.0,9569.0,6419.0
106385,202003,충북,휴양콘도 운영업,충북,51,3137560,68,34.0,34.0,9569.0,6419.0

In [15]:
# 소비자 심리지수 월별 변화량 가져오기
qtable=pd.read_csv('jeju_data_ver1/qtable.csv')
qtable=qtable[['REG_YYMM','sobi_Qchange']]
# 날짜 타입 변경
qtable['REG_YYMM']=qtable['REG_YYMM'].astype('str')
qtable

   REG_YYMM  sobi_Qchange
0    201901           0.6
1    201902           2.1
2    201903           0.2
3    201904           1.9
4    201905          -3.8
5    201906          -0.3
6    201907          -1.7
7    201908          -3.5
8    201909           4.6
9    201910           1.6
10   201911           2.4
11   201912          -0.5
12   202001           3.7
13   202002          -7.3
14   202003         -18.5
15   202004          -7.6

In [16]:
# 월별 소비자 심리지수 병합
data4 = pd.merge(data3, qtable, on='REG_YYMM', how='left')
data4

,REG_YYMM,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,CSTMR_CNT,AMT,CNT,확진자_증가_C,확진자_증가_H,전국확진자,전국확진자_증가,sobi_Qchange
0,201901,강원,건강보조식품 소매업,강원,1058,147831746,1105,0.0,0.0,0.0,0.0,0.6
1,201901,강원,건강보조식품 소매업,광주,5,127000,5,0.0,0.0,0.0,0.0,0.6
2,201901,강원,건강보조식품 소매업,대구,7,155000,7,0.0,0.0,0.0,0.0,0.6
3,201901,강원,건강보조식품 소매업,서울,5,151000,6,0.0,0.0,0.0,0.0,0.6
4,201901,강원,건강보조식품 소매업,전북,5,90000,5,0.0,0.0,0.0,0.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...
106381,202003,충북,휴양콘도 운영업,경기,18,2170050,20,34.0,394.0,9569.0,6419.0,-18.5
106382,202003,충북,휴양콘도 운영업,서울,37,6830430,82,34.0,373.0,9569.0,6419.0,-18.5
106383,202003,충북,휴양콘도 운영업,세종,3,354000,3,34.0,45.0,9569.0,6419.0,-18.5
106384,202003,충북,휴양콘도 운영업,인천,3,88250,5,34.0,58.0,9569.0,6419.0,-18.5
106385,202003,충북,휴양콘도 운영업,충북,51,3137560,68,34.0,34.0,9569.0,6419.0,-18.5

In [18]:
# OneHotEncoding
def myData(data, col):
    # print(data[col])
    for c in col:
        data=pd.concat([data,pd.get_dummies(data[c],prefix=c)],axis=1)
        data=data.drop(c,axis=1)
    return data
col=['CARD_SIDO_NM', 'STD_CLSS_NM', 'HOM_SIDO_NM']
data5=myData(data4, col)
data5

,REG_YYMM,CSTMR_CNT,AMT,CNT,확진자_증가_C,확진자_증가_H,전국확진자,전국확진자_증가,sobi_Qchange,CARD_SIDO_NM_강원,...,HOM_SIDO_NM_부산,HOM_SIDO_NM_서울,HOM_SIDO_NM_세종,HOM_SIDO_NM_울산,HOM_SIDO_NM_인천,HOM_SIDO_NM_전남,HOM_SIDO_NM_전북,HOM_SIDO_NM_제주,HOM_SIDO_NM_충남,HOM_SIDO_NM_충북
0,201901,1058,147831746,1105,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
1,201901,5,127000,5,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
2,201901,7,155000,7,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
3,201901,5,151000,6,0.0,0.0,0.0,0.0,0.6,1,...,0,1,0,0,0,0,0,0,0,0
4,201901,5,90000,5,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106381,202003,18,2170050,20,34.0,394.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,0,0,0,0,0,0
106382,202003,37,6830430,82,34.0,373.0,9569.0,6419.0,-18.5,0,...,0,1,0,0,0,0,0,0,0,0
106383,202003,3,354000,3,34.0,45.0,9569.0,6419.0,-18.5,0,...,0,0,1,0,0,0,0,0,0,0
106384,202003,3,88250,5,34.0,58.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,1,0,0,0,0,0
106385,202003,51,3137560,68,34.0,34.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
data5.to_csv('data_ohe.csv', encoding='utf-8', index=False)
data5

,REG_YYMM,CSTMR_CNT,AMT,CNT,확진자_증가_C,확진자_증가_H,전국확진자,전국확진자_증가,sobi_Qchange,CARD_SIDO_NM_강원,...,HOM_SIDO_NM_부산,HOM_SIDO_NM_서울,HOM_SIDO_NM_세종,HOM_SIDO_NM_울산,HOM_SIDO_NM_인천,HOM_SIDO_NM_전남,HOM_SIDO_NM_전북,HOM_SIDO_NM_제주,HOM_SIDO_NM_충남,HOM_SIDO_NM_충북
0,201901,1058,147831746,1105,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
1,201901,5,127000,5,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
2,201901,7,155000,7,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,0,0,0,0
3,201901,5,151000,6,0.0,0.0,0.0,0.0,0.6,1,...,0,1,0,0,0,0,0,0,0,0
4,201901,5,90000,5,0.0,0.0,0.0,0.0,0.6,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106381,202003,18,2170050,20,34.0,394.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,0,0,0,0,0,0
106382,202003,37,6830430,82,34.0,373.0,9569.0,6419.0,-18.5,0,...,0,1,0,0,0,0,0,0,0,0
106383,202003,3,354000,3,34.0,45.0,9569.0,6419.0,-18.5,0,...,0,0,1,0,0,0,0,0,0,0
106384,202003,3,88250,5,34.0,58.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,1,0,0,0,0,0
106385,202003,51,3137560,68,34.0,34.0,9569.0,6419.0,-18.5,0,...,0,0,0,0,0,0,0,0,0,1